# .env.example

# Twilio Configuration
TWILIO_ACCOUNT_SID=your_account_sid
TWILIO_AUTH_TOKEN=your_auth_token
TWILIO_PHONE_NUMBER=your_twilio_phone_number

# Flask Configuration
FLASK_APP=your_flask_app
FLASK_ENV=development
SECRET_KEY=your_secret_key

# Database Configuration
DATABASE_URL=your_database_url
DB_USER=your_database_user
DB_PASSWORD=your_database_password
DB_HOST=your_database_host
DB_PORT=your_database_port
DB_NAME=your_database_name
