.sidebar{
    display: flex;
    flex-direction: column;
    flex: 0.3;
    border-right: 1px solid lightgray;
}

.sidebar__header{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__userInfo{
    display: flex;
    align-items: center;
}
.header__userInfo > p{
    margin-left: 10px;
    font-weight: 500;
}
.sidebar__headerRight{
    color: gray;
}
.sidebar__headerRight > .MuiSvgIcon-root{
    margin: 0 2vw;
    font-size: 24px !important;
}

.sidebar__search{
    display: flex !important;
    align-items: center;
    background-color: #f6f6f6;
    color: gray;
    display: flex;
    padding: 15px;
    height: 20px;
    border-bottom: 1px solid lightgray;
}
.sidebar__search > input{
    background-color: #f6f6f6;
    width: 100%;
    border: none;
    padding: 10px 0;
    padding-left: 10px;
    outline: none;   
}

.sidebar__chats{
    flex: 1;
    background-color: #f6f6f6;
    overflow-y: auto;

}
.sidebar__chats::-webkit-scrollbar {
    width: 6px;
}

.sidebar__chats::-webkit-scrollbar-thumb { 
    background-color: lightgray;
}

a{
    text-decoration: none;
    color: inherit;
}